@model IEnumerable<dynamic>

@{
    ViewBag.Title = "Violazioni con Importo Maggiore di 400 Euro";
}

<h2>@ViewBag.Title</h2>

<table class="table">
    <thead>
        <tr>
            <th>Importo</th>
            <th>Cognome</th>
            <th>Nome</th>
            <th>Data Violazione</th>
            <th>Decurtamento Punti</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Importo</td>
                <td>@item.Anagrafica.Cognome</td>
                <td>@item.Anagrafica.Nome</td>
                <td>@item.DataViolazione.ToShortDateString()</td>
                <td>@item.DecurtamentoPunti</td>
            </tr>
        }
    </tbody>
</table>
